.container{
	max-width: 1300px;
	margin:0 auto;
	padding-top: 67px;

}

.burger-bar{
	font-size: 30px;
	display: none;
	color:#3D37F1;
}

.navbar .logo{
	font-family: 'Lato';
	color: #4B647E;
	font-size: 32px;
	font-weight:lighter;

}

.span{
	font-family: 'Lato';
	font-weight: normal;
	color: #3D37F1;
	font-size: 32px;
}
.navbar a {
	color:#3D37F1;
	font-size: 20px;
	font-family: 'Lato';
	font-weight: bold;
}

.navbar a:hover{
	color: lightblue;
}



.navbar .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.navbar ul{
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.web{
	font-style: normal;
}

.main-image{
	max-width: 600px;
	width: 100%;
	/* width: 600px; */
	height: 438px;
}

.header h1{
	font-size: 78px;
	font-family: 'Lato';
	font-weight: bold;
	color: #534D4D;
	line-height: 109px;
}

.header .p1{
	font-size: 22px;
	color:#534D4D;
	font-family: 'Roboto';
	line-height: 32px;
	font-weight: normal;
	margin-top: 42px;
}

.upper-left{
	max-width: 669px;
	width: 100%;
	height: 438px;
}

.header .container{
	max-width: 1300px;
	width: 100%;
	margin:0 auto;
	padding-top: 263px;
	display: flex;
	justify-content: center;


}

.hand{
	width: 263px;
	height: 76px;
	background: #3D37F1;
	border-radius: 38px;
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.hand-icon{
	width: 30px;
	height: 31px;
	margin: auto 0;
	
	
}
.icon-text{
	color:#FFFFFF;
	font-size: 23px;
	line-height: 80px;
	font-family: 'Poppins';
	margin-left: 22px;
}



.container-2{
	max-width: 884px;
	margin:0 auto;
	padding-top: 67px;
	margin-top: 287px;
	margin-bottom: 130px;

}


.lower-block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.block{
	width: 276px;
	height: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.read-more{
	width: 100px;
	height: 33px;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 23px;
	border:2px solid #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-block{
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	text-align: center;
	
}
.container-2 h3{
	font-size: 20px;
	color:#3D37F1;
	font-family: 'Lato';
	font-weight: bold;
	margin-bottom: 17px;
}

.container-2 h2{
	font-size: 35px;
	color:#5A5454;
	font-family: 'Lato';
	font-weight: normal;
	margin-bottom: 21px;
}

.text-p{
	color: #747474;
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: normal;
	margin-bottom: 67px;
}

/*6 blocks*/

.block:nth-child(1) {
    background-color: #FBBA77;
    margin-bottom: 60px;
}
.block:nth-child(2) {
    background-color: #41EAE3;
    margin-bottom: 60px;
}
.block:nth-child(3) {
    background-color: #69529F;
    margin-bottom: 60px;
}
.block:nth-child(4) {
    background-color: #4386D2;
}
.block:nth-child(5) {
    background-color: #A5A2F6;
}
.block:nth-child(6) {
    background-color: #FF8088;
}

.lower-block h4{
	font-size: 22px;
	font-family: 'Lato';
	font-weight: normal;
	color: #FFFFFF;

}
.lower-block p{
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	margin: 13px 20px 11px 20px;
	
}

.lower-block img{
	margin-bottom:35px;
}

.section-2{
	background:#FBFCFD;
}



.read-more:hover {
    background: white;
    color: black;
    font-weight: lighter;
}
